<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103315519285-nu1pk11p67lkclc20j9epu9lmru7isdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103315519285-nu1pk11p67lkclc20j9epu9lmru7isdq</string>
	<key>API_KEY</key>
	<string>AIzaSyBBbKQVk6r8JodPoMZVCSJ8ZolvyLfsMXM</string>
	<key>GCM_SENDER_ID</key>
	<string>103315519285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103315519285:ios:a0d8ec1fd7640b847d3e7c</string>
</dict>
</plist>